{% extends 'base.html' %}
{% load static %}
{% block body %}

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Blog</span>
            <h2>Recent News</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/blog1.jpg' %}');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">06</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">March</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="https://www.cricbuzz.com/cricket-news/112767/bess-in-the-business">A fortuitous call up, an incredible day at Port Elizabeth, the quick rise and the downtime - England's young spinner tries to make sense of the rollercoaster</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/blog3.jpg' %}');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">07</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">March</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="https://www.cricbuzz.com/cricket-news/112763/dependables-no-longer-on-the-books-an-era-ends">Only Faf du Plessis has been retained in the contractual ranks from South Africa's golden generation</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/blog2.jpg' %}');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">08</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">March</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="https://www.cricbuzz.com/cricket-news/112755/no-professional-cricket-in-england-and-wales-before-may-28">The ECB also stated that it has started work on possible revised schedules to begin in June, July or August</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
          	<div class="blog-entry">
              <a href="blog-single.html" class="block-20" style="background-image: url('{% static 'images/blog4.jpg' %}');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center p-2 pr-3 mb-4 topp">
              		<div class="one">
              			<span class="day mr-1">09</span>
              		</div>
              		<div class="two">
              			<span class="yr">2019</span>
              			<span class="mos">March</span>
              		</div>
              	</div>
                <h3 class="heading"><a href="https://www.cricbuzz.com/cricket-news/112768/further-cloud-over-ipl-2020-as-india-goes-into-a-lockdown">The Government of India announced a three-week lockdown to combat the spread of the Coronavirus</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   {% endblock %}		
	

