{% extends 'base.html' %}
{% load static %}
{% block body %}






    <div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">How long can you last?</h1>
            <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
						<p class="d-flex align-items-center">
							<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center mr-3">
    						<span class="ion-ios-play"></span>
    					</a>
    					<span class="watch">Watch Games</span>
						</p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12">
						<div class="game-wrap-1 ftco-animate p-4">
							<div class="row p-2">
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<div class="text d-flex">
										<div class="team-logo d-flex">
											<div class="img" style="background-image: url({% static 'images/team01.jpg' %});"></div>
											<div class="img img-2" style="background-image: url({% static 'images/team02.jpg' %});"></div>
										</div>
										<div class="team-name pl-3">
											<h3><span>Mumbai Indians vs</span><span>Chennai Super Kings
											</span></h3>
										</div>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-3">
									<div class="text">
										<div class="img"></div>
										<h3 class="league">Indian Premier League</h3>
										<span> </span>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-4">
									<div class="text">
										<div id="timer" class="d-flex mb-0">
										  
										  <div class="time pl-3" id="hours"></div>
										  <div class="time pl-3" id="minutes"></div>
										  <div class="time pl-3" id="seconds"></div>
										</div>
									</div>
								</div>
								<div class="col-md-6 pb-4 pb-lg-0 col-lg-2">
									<div class="text">
										<p class="mb-0"><a href="http://127.0.0.1:8000/game/" class="btn btn-primary py-3">Read More...</a></p>
									</div>
								</div>
							</div>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
	          <div class="heading-section ftco-animate">
	          	<span class="subheading">Game Report</span>
	            <h2 class="mb-4">Great Win In Final Game</h2>
	          </div>
	          <div class="scoreboard mb-5 mb-lg-0">
	          	<div class="divider text-center"><span>Tue. March 18, 2020; One Day International(ODI)</span></div>
	          	<div class="d-sm-flex mb-4">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/t01.jpg' %});"></div>
									<div class="text-center px-1 px-md-3 desc">
										<h3 class="score win"><span>2</span></h3>
										<h4 class="team-name">India</h4>
									</div>
		          	</div>
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo order-sm-last" style="background-image: url({% static 'images/t2.jpg' %});"></div>
									<div class="text-center px-1 px-md-3 desc">
										<h3 class="score lost"><span>1</span></h3>
										<h4 class="team-name">South Africa</h4>
									</div>
		          	</div>
	          	</div>
	          	<div class="text-center">
		          	<p><a href="https://www.google.com/search?q=india+vs+south+africa+2020&rlz=1C1CHBF_enIN853IN853&oq=india+vs+south+africa+&aqs=chrome.1.69i57j0l7.18069j0j7&sourceid=chrome&ie=UTF-8#sie=m;/g/11h3spxs5x;5;/m/021q23;dt;fp;1;;" class="btn btn-primary">More Details</a></p>
		          </div>
	          </div>
					</div>
					<div class="col-lg-6 d-flex align-items-stretch">
						<div class="img d-flex align-items-center justify-content-center py-5" style="background-image: url({% static 'images/win.jpg' %}); width: 100%;">
							<p class="text-center mb-0 py-5">
								<a href="https://www.youtube.com/watch?v=amMJfaB5dXo" class="icon-video-2 popup-vimeo d-flex justify-content-center align-items-center mr-3">
	    						<span class="ion-ios-play"></span>
	    					</a>
	    					<small style="color: rgba(255,255,255,1); font-size: 16px;">Watch Highlights</small>
    					</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-game-schedule ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-section ftco-animate mb-4">
          	<span class="subheading">Game Schedule</span>
					</div>
				</div>
				<div class="row ftco-animate">
					<div class="col-md-12 carousel-game-schedule owl-carousel">
						<div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team02.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Mumbai</span>
										<h4 class="team-name">MI vs CSK</h4>
										<span class="date">April 15, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
	          <div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team03.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Delhi</span>
										<h4 class="team-name">DC vs KXP</h4>
										<span class="date">April 16, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
	          <div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team05.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Bengaluru</span>
										<h4 class="team-name">RCB vs KKR</h4>
										<span class="date">April 17, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
	          <div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team06.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Hyderabad</span>
										<h4 class="team-name">SH vs MI</h4>
										<span class="date">April 18, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
	          <div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team07.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Chennai</span>
										<h4 class="team-name">CSK vs RR</h4>
										<span class="date">April 19, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
	          <div class="item">
							<div class="game-schedule">
		          	<div class="sport-team d-flex align-items-center">
	          			<div class="img logo" style="background-image: url({% static 'images/team08.jpg' %});"></div>
									<div class="pl-4 desc">
										<span class="venue">Kolkata</span>
										<h4 class="team-name">KKR vs DC</h4>
										<span class="date">April 20, 2020</span>
									</div>
		          	</div>
		          </div>
	          </div>
					</div>
				</div>
			</div>
		</section>

<!-- Subcribe -->
	<section class="ftco-subscribe img" style="background-image: url({% static 'images/bg1.jpg' %});">
      <div class="overlay">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-10 text-wrap text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our upcoming match</h2>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-10">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   {% endblock %}