{% extends 'base.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'player/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'player/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'player/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


    <div class="container-contact100" style="background-image: url({% static 'images/play.jpg' %});">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form"method="POST">
                <span class="contact100-form-title">
                    <center>Player Register</center>
                </span>
                {% csrf_token %}
                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Player Name *</span>
                    <input class="input100" type="text" name="pname" placeholder="Enter your name">
                </div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Player Email *</span>
                    <input class="input100" type="text" name="pemail" placeholder="Enter your email">
                </div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid number is required: 789456123">
                    <span class="label-input100">Player No *</span>
                    <input class="input100" type="number" name="pnumber" placeholder="Enter your number">
                </div>
                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate = "Valid date is required:01:03:20 ">
                    <span class="label-input100">Date *</span>
                    <input type="date" id="birthDate" class="input100" name="date" >
                </div>

                

                

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
                          Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="{% static 'player/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'player/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'player/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'player/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'player/js/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_MEASUREMENT_ID');
</script>

</body>
</html>

   {% endblock %}
<!--Message should be show  -->
{% block js %}
<script>
{% if thank %}
alert('Player Register Succesfully.');
document.location = "/player";


{% endif %}
</script>
{% endblock %}